
.topnav {
    overflow: hidden;
    background-color: rgb(191, 211, 223);
  }
  
  .topnav a {
    float: left;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration:whitesmoke;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

h1{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
header {
    padding: 25px;
    text-align: center;
    font-size: 20px;
    color: black(59, 235, 23);
}
body {
    background-color: rgb(191, 211, 223);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}   
footer{
    background-color:whitesmoke;
    color: rgb(3, 3, 3);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    
    

table, th, td {
  border: 1px solid black;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background-color: whitesmoke;
  margin-bottom: 20px;
}

.content-area{
    border-top: 3px solid black;

        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;  
}
p {
    
    text-align: center;
    font-size: 20px;
    line-height: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.image{
      margin-top: 30px;
  }

#index-billede {
  width:40%;
  height:40%;
}

#om-mig-billede{
   float:left;
   width:20%;
   height:20%;
   margin-top: 50px;
   margin-right: 20px;
 } 

